<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" />
    <link rel="stylesheet" href="../css/base.css">
    <script src="../js/mui.min.js"></script>
    <title>**彩蛋**</title>
    <style>
        .mui-scroll {
            padding: 1rem;
            color: #333;
        }
    </style>
</head>

<body>
    <div class="mui-scroll-wrapper">
        <div class="mui-scroll">
            <script defer>
                mui.alert("该页面还正在努力开发中，\n敬请期待吧...", " ", "知道了", () => {
                    mui.later(() => mui.back(), 333);
                }, 'div');
            </script>
        </div>
    </div>
</body>
<script>
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });

    mui('.mui-scroll-wrapper').scroll(); // 初始化滚动条
</script>

</html>